<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>

  <body class="d-flex h-100 text-center text-bg-dark">


    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">My Awesome Cart</h3>
    </div>
  </header>

  <main class="px-3" style="top: 183px; position: relative;">
    <h1>Welcome People</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
      <a href="/store" class="btn btn-lg btn-light fw-bold border-white bg-white">Shop Here</a>
    </p>
  </main>

  <footer class="mt-auto text-white-50">
    <p style="top: 427px;position: relative;">All rights reserved <a href="" class="text-white">My Awesome Cart</a>, by <a href="https://www.linkedin.com/in/naman-goel-6a6b621b6" class="text-white">@naman</a>.</p>
  </footer>
</div>
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    </body>
</html>